.dropTarget {
	height: 200px;
	border: 3px @borderColor dashed;
	margin-bottom: 10px;
	text-align: center;
	font: normal 24px/200px sans-serif;
	color: @borderColor;

	&.drag {
		border-color: @borderHoverColor;
	}

	@media (max-width: 640px) {
		font: normal 16px/200px sans-serif;
	}
}
