.images {
	margin: 0 -10px;
	a {
		float: left;
		border: 3px @borderColor solid;
		margin: 10px;
		position: relative;
		&:hover {
			border-color: @borderHoverColor;
		}
		img {
			display: block;
		}
		.close {
			border: 3px solid @borderColor;
			background-color: white;
			color: @borderColor;
			padding: 5px;
			width: 10px;
			height: 10px;
			font: bold 16px/10px sans-serif;
			position: absolute;
			top: -12px;
			right: -12px;
			border-radius: 50%;
			&:hover {
				border-color: @borderHoverColor;
				color: @borderHoverColor;
			}
		}
	}
}
